$font-size: 12px;
$width: 30px;
.news-item{
    text-align: justify;
    @media only screen and (min-width: 1080px) {
        height: 30px;
        div.comments-xs,div.points-xs{
            display: none;
        }
    }
    @media only screen and (max-width: 1080px) {
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
        div.comments,div.points{
            display: none;
        }
        div.comments-xs, div.points-xs{
            display: block;
        }

    }
    div{
        margin: 2px;
        display: inline-block;
    }
    div.comments{
        width: 5%;
        text-align: center;
    }
    div.points{
        width: 5%;
        text-align: center;
    }
    div.comments-xs{
        text-align: center;
    }
    div.points-xs{
        text-align: center;
    }
    div.title{
    }
    div.url{
        a{
            color:gray;
            text-decoration-line: none;
            font-size: $font-size;
        }
    }
    div.author{
        .prefix{
            color:lightgray;
            padding-right: 2px;
        }
        font-size: $font-size;
    }
    div.time{
        font-size: $font-size;
        color:gray;
    }
    div.hide{
        .title{
            color:black;
        }
        color:gray;
        font-size: $font-size;
    }
    .orange{
        color: darkorange;
    }
    .red{
        color: red;
    }
    .darkred{
        color: darkred;
    }
    .black{
        color: black;
    }
    .arrow-up {
        width: 0; 
        height: 0; 
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid green;
        cursor: pointer;
        margin-left: 10px;
      }
}

.news-item:after {
    content: '';
    width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
    display: inline-block;
}

.even{
    background-color: rgb(246, 246, 239);
}
.odd{
    background-color: rgb(224, 224, 215);
}