
.news{
   
    .more{
        color: darkorange;
        cursor: pointer;
    }
    .loading{
        display: block;
        text-align: center;
        padding:50px;
        font-size: 18px;
        font-weight: bold;
    }
}