.header{
    background-color: rgb(255, 102, 0);
    padding-left: 10px;

    img{
        border: 1px white solid;
        position: relative;
        top: 3px;
        margin-right: 0.5em;
    }
    nav{
        display: inline-block;
        ul{
            margin: 0;
            padding: 0;
            li {
                /* This allow us to arrange list items in a row, without using float */
                display: inline-block;
                list-style-type: none;
                a {
                    color: black;
                    display: block;
                    line-height: 2em;
                    padding: 0.5em 0.5em;
                    text-decoration: none;
                }
                a.active{
                    color: white;
                }
            }
        }
    }
}

